* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #27374d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #27374d;
  font-family: "Montserrat";
}

.container {
  width: 100%;
  max-width: 900px;
  height: 700px;
  background: #dde6ed;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 25px #242424ff;
  display: grid;
  grid-template-columns: 570px 1fr;
  text-align: center;
}

.note-holder,
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adjustment-container {
  display: grid;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.adjustment-container > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 15px;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  color: #dde6ed;
  width: 35px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin-inline: 10px;
  background-color: #27374d;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #526d82;
}

.start-btn {
  width: 70px;
  height: 30px;
  font-weight: 100;
}

#note {
  font-size: 150px;
}
